@media (min-width: 992px) {
    .mt--300 {
        margin-top: -400px !important; 
   }

  
}

@media (min-width: 400px) {
    .mt--300 {
        margin-top: -300px !important; 
   }

   .container > .mt--1000 {
    margin-top: -400px !important; 
    }
}
